<h1>{{this.title}}</h1>
<p>{{this.msg}}</p>
<p>{{this.profile}}</p>
<p>{{this.jwt}}</p>
<div id="login"><form action = '/login' method = 'get'>
    LOG IN OR CREATE AN ACCOUNT <input type="submit"></input></form></div>
<div id="logout"><form action = '/logout' method = 'get'>
    LOG OUT <input type="submit"></input></form></div>